DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/nestjs_db?schema=public"
JWT_SECRET="local_dev_secret_do_not_use_in_prod"
EXPIRY_TIME_MS=3600000
AI_URL=http://localhost:5000

GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"

GITHUB_CLIENT_ID="..."
GITHUB_CLIENT_SECRET="..."
GITHUB_CALLBACK_URL="http://localhost:3000/auth/github/callback"
